
# ----------------------------------
# mongo db container

MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# server container
#db
MONGO_URI_DEV=
# format: mongodb://user:passwword@host.com/database
MONGO_URI_PROD=

#site urls
CLIENT_URL_DEV=https://localhost:3000
SERVER_URL_DEV=https://localhost:5000

CLIENT_URL_PROD=
SERVER_URL_PROD=

PORT=5001

#mal
MAL_CLIENT_ID=
MAL_CLIENT_SECRET=
MAL_REDIRECT_URI=

#tvdb
TVDBID_API_KEY=

#sonarr
SONARR_API_KEY=
SONARR_URL=http://192.168.0.100:8989